@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;300;400;700&display=swap');

$font-stack-1: 'Kumbh Sans', sans-serif;

$violet:  #5964E0;
$lightViolet: #939BF4;
$veryDarkBlue:  #19202D;
$midnight:  #121721;
$white:  #ffffff;
$lightgrey:  #F4F6F8;
$gray: #9DAEC2;
$darkgray: #6E8098;

